Source: screenshot-tool
Section: graphics
Priority: extra
Maintainer: Fabio Zaramella <ffabio.96.x@gmail.com> 
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               valac,
               libgranite-dev (>= 0.3.0~),
               libgtk-3-dev,
               libnotify-dev,
               libgdk-pixbuf2.0-dev
Standards-Version: 3.9.3

Package: screenshot-tool
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: A simple program to take screenshot in elementary OS.
